head 
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap")
    link(rel="stylesheet", href="/style.css")

header#header 
    a#header-home(href="/home") Home  
    a#header-users(href="/users") Users
    a#header-register(href="/register") Register
    a#header-login(href="/login") Login
    br