html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=chrome")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap") 
        link(rel="stylesheet", href="/style.css")
    
    body 
        include ./partials/header

        h1#welcome WELCOME TO THE RESTAURANT ORDERING APPLICATION
        p#home-info Log in to make orders, or register a new account.